div.slogin-clear{
    clear: both;
}

.jlslogin #form-login-remember label {
    cursor: pointer;float:none;
}

.jlslogin #modlgn-remember {

    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}


.jlslogin .button
{
    background: #EEEEEE;
    border: medium none;
    color: #444444;
    display: inline-block;
    letter-spacing: normal;
    line-height: 30px;
    min-height: 30px;
    padding: 0 12px;
	background-color: #00A8E6;
    color: #FFFFFF
}
.jlslogin #modlgn-username.inputbox
{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    height: 30px;
	width: 100%;
    padding: 0 0 0 5px;
}
.jlslogin .ul-jlslogin
{
	list-style: none outside none;
	padding: 5px 0px 10px;
	margin: 0;
}

.jlslogin #modlgn-passwd.inputbox
{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    height: 30px;
    width: 100%;
    padding: 0 0 0 5px;
}

.jlslogin .login-greeting
{
    padding: 0 0 5px;
}
.jlslogin #login-form
{
	padding: 10px 0 0;
}

.jlslogin #form-login-remember label{cursor:pointer}

.jlslogin .userdata #form-login-password label
{
    display: block;
    float: left;
    margin-right: 10px;
    width: 20%;
}

.jlslogin .userdata #form-login-username label
{
    display: block;
    float: left;
    margin-right: 10px;
    width: 20%;
}

.jlslogin .slogin-compact span {
  /*  background: url(../../media/socials_sprite.png) no-repeat;*/
    height: 49px;
    width: 49px;
    display:block;
    border-radius: 1px;
	line-height: 49px;
}
.jlslogin .slogin-compact a, .jlslogin .slogin-compact a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
    float: left;
}
.jlslogin .slogin-compact a {
    display: block;
/*    width: 49px;*/
    margin:5px 5px 0 0;
}
.jlslogin .slogin-compact a:hover {
    background:#f4f3f2;
}

/* Def style*/

.slogin-default span {
  /*  background: url(../../media/socials_sprite.png) no-repeat;*/
    height: 30px;
    display:block;
    float: left;
    display:inline-block
}
.slogin-default a, .slogin-default a:hover {
    text-decoration:none;
    float: left;
}
.slogin-default a {
    display: block;
    padding: 0;
    margin:7px 4px 0px 0px;
	  text-decoration: none;
    width: 130px;
    line-height: 30px;
    opacity: 0.8;
}

.slogin-ico {
    width: 30px;
}

.text-socbtn {
    padding-left: 4px;
    color: #ffffff;
    font-size: 13px;
}

.linkgoogleslogin{background-color: #DC4E41;}
.linkodnoklassnikislogin{background-color: #f6851f;}
.linkvkontakteslogin {background-color: #4e7299;}
.linkfacebookslogin {background-color: #3a5795;}
.linkmailslogin {background-color: #356ca4;}
.linktwitterslogin {background-color: #00aeef;}
.linkyandexslogin {background-color: #ff0303;}
.linklinkedinslogin {background-color: #0077B5;}
.linkliveslogin{background-color: #0072C6;}
.linkuloginslogin{background-color: #00a105;}
.linkyahooslogin {background-color: #440099;}
.linkwordpressslogin {background-color: #474442;}
.linkinstagramslogin {background-color: #125688;}

.jlslogin .slogin-default a:hover {
  opacity: 1.0;
}

/* END Def style*/

.slogin-buttons .googleslogin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-60 -60 710.117 710.117' %3E%3Cpath fill='%23fff' fill-rule='evenodd' clip-rule='evenodd' d='M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4%0Ac-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45%0Ah43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15%0Ac0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35%0Ac0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z%0AM126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05%0AC159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6%0Ac33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z%0A'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
	  opacity: 0.8;
    background-color: #DC4E41;
}

.slogin-buttons .odnoklassnikislogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M20%2020.5c3.4%200%206.2-2.8%206.2-6.3s-2.8-6.3-6.2-6.3c-3.4%200-6.2%202.8-6.2%206.3s2.8%206.3%206.2%206.3zm0-9.5c1.8%200%203.3%201.5%203.3%203.3s-1.5%203.3-3.3%203.3c-1.8%200-3.3-1.5-3.3-3.3s1.5-3.3%203.3-3.3zm6.7%2010.2c-.5-.7-1.5-.8-2.2-.3%200%200-1.7%201.3-4.5%201.3s-4.5-1.3-4.5-1.3c-.7-.5-1.7-.4-2.2.3-.5.7-.4%201.7.3%202.2.1.1%201.7%201.3%204.4%201.8l-4.1%204.2c-.6.6-.6%201.6%200%202.2.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5l3.9-4%203.9%204c.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5.6-.6.6-1.6%200-2.2l-4.1-4.3c2.7-.5%204.3-1.7%204.4-1.8.7-.5.8-1.5.3-2.1z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #f6851f;
}
.slogin-buttons .vkontakteslogin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg version='1.1' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs12'/%3E%3Cg id='g5608'%3E%3Crect height='512' id='rect2987' style='fill:%234c75a3;fill-opacity:1;fill-rule:nonzero;stroke:none' width='512' x='0' y='0'/%3E%3Cpath d='m 251.70955,369.14455 h 23.90722 c 0,0 7.21927,-0.79762 10.91007,-4.76903 3.39705,-3.65021 3.28841,-10.50167 3.28841,-10.50167 0,0 -0.47175,-32.08055 14.42054,-36.80302 14.67964,-4.6544 33.52648,31.00352 53.50297,44.7136 15.10712,10.3751 26.58794,8.10401 26.58794,8.10401 l 53.41814,-0.74389 c 0,0 27.93719,-1.7254 14.69046,-23.69711 -1.08421,-1.79346 -7.72077,-16.24983 -39.71651,-45.94943 -33.50267,-31.09426 -29.01187,-26.06134 11.33755,-79.83777 24.56987,-32.75042 34.39689,-52.73881 31.32344,-61.30492 -2.92543,-8.15775 -20.99737,-6.00608 -20.99737,-6.00608 l -60.14789,0.37614 c 0,0 -4.45617,-0.60898 -7.76492,1.36837 -3.22986,1.93675 -5.30509,6.45384 -5.30509,6.45384 0,0 -9.52735,25.34252 -22.21891,46.89512 -26.77781,45.47421 -37.48837,47.88141 -41.86576,45.05151 -10.18409,-6.5816 -7.63722,-26.43388 -7.63722,-40.54397 0,-44.07239 6.68431,-62.45001 -13.02109,-67.20472 -6.53861,-1.57852 -11.353,-2.62571 -28.07453,-2.79407 -21.45819,-0.21851 -39.62332,0.0681 -49.90525,5.10336 -6.84198,3.35887 -12.12325,10.8181 -8.90281,11.25035 3.9749,0.53016 12.97566,2.42511 17.74706,8.92193 6.16377,8.38702 5.94764,27.21599 5.94764,27.21599 0,0 3.54393,51.88028 -8.27001,58.32099 -8.10874,4.42157 -19.22901,-4.60187 -43.10881,-45.86108 -12.23061,-21.1311 -21.46783,-44.49746 -21.46783,-44.49746 0,0 -1.77673,-4.36067 -4.9565,-6.69981 -3.8544,-2.83349 -9.24187,-3.72903 -9.24187,-3.72903 l -57.154499,0.37016 c 0,0 -8.58037,0.24358 -11.72552,3.97499 -2.80725,3.32066 -0.22448,10.18167 -0.22448,10.18167 0,0 44.742259,104.68594 95.406949,157.43907 46.46763,48.38052 99.21848,45.20196 99.21848,45.20196 l 0,0 z' id='path9' style='fill:%23ffffff;fill-rule:evenodd'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
	  opacity: 0.8;
    background-color: #4e7299;
}
.slogin-buttons .facebookslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24.2%2011.3h2.3v-4.3h-3.5c-4.3%200-6%202.9-6%206.1v2.6h-3.5v4.3h3.5v13h5v-13h4l.5-4.3h-4.5v-2.6c0-1.2.4-1.8%202.2-1.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
	  opacity: 0.8;
    background-color: #3a5795;
}
.slogin-buttons .mailslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M33%2020c0-7.2-5.8-13-13-13s-13%205.8-13%2013%205.8%2013%2013%2013c1.6%200%203.3-.3%204.8-.9.7-.3%201.1-1.1.8-1.8-.3-.7-1.1-1.1-1.8-.8-1.2.5-2.4.7-3.7.7-5.6%200-10.2-4.6-10.2-10.2%200-2.8%201.1-5.4%203-7.2%201.8-1.8%204.4-3%207.2-3s5.4%201.1%207.2%203c1.8%201.8%203%204.4%203%207.2%200%201.4-.3%203.5-.8%204.9-.7%201.8-2%201.3-2-.3v-9.2c0-1.2-1.5-1.9-2.4-1-1.4-1.3-3.2-2-5.2-2-4.2%200-7.6%203.4-7.6%207.6%200%204.2%203.4%207.6%207.6%207.6%201.8%200%203.5-.7%204.9-1.7.4%201.7%201.7%202.7%203.2%202.9%204.1.6%205-5.9%205-8.8zm-9.8%203.4c-.9.9-2.1%201.4-3.4%201.4-2.7%200-4.8-2.2-4.8-4.8%200-2.7%202.2-4.8%204.8-4.8%201.3%200%202.5.5%203.4%201.4%201.9%201.8%201.9%205%200%206.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #356ca4;
}
.slogin-buttons .twitterslogin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M31%2013.1c-.8.4-1.7.6-2.6.7.9-.6%201.7-1.5%202-2.5-.9.5-1.8.9-2.9%201.1-.8-.9-2-1.4-3.3-1.4-2.5%200-4.5%202-4.5%204.5%200%20.4%200%20.7.1%201-3.8-.2-7.1-2-9.3-4.8-.4.7-.6%201.5-.6%202.3%200%201.6.8%203%202%203.8-.7%200-1.4-.2-2.1-.6v.1c0%202.2%201.6%204%203.6%204.5-.4.1-.8.2-1.2.2-.3%200-.6%200-.8-.1.6%201.8%202.2%203.1%204.2%203.2-1.5%201.2-3.5%201.9-5.6%201.9-.4%200-.7%200-1.1-.1%202%201.3%204.4%202.1%206.9%202.1%208.3%200%2012.9-6.9%2012.9-12.9v-.6c.9-.7%201.7-1.5%202.3-2.4z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #00aeef;
}

.slogin-buttons .yandexslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-15 -4 55 55' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23fff;stroke:none' d='M 21.0607,0 L 14.1613,0 C 7.38301,0 1.63391,5.1601 1.63391,15.1777 C 1.63391,21.1875 4.41811,25.6191 9.38002,27.8047 L 0.121216,44.5605 C -0.181488,45.1074 0.121216,45.5312 0.604614,45.5312 L 4.9015,45.5312 C 5.26482,45.5312 5.507,45.4101 5.62813,45.1074 L 14.0402,28.6543 L 17.0666,28.6543 L 17.0666,45.1074 C 17.0666,45.289 17.2482,45.5312 17.4894,45.5312 L 21.2423,45.5312 C 21.6056,45.5312 21.7267,45.3496 21.7267,45.0468 L 21.7267,0.607361 C 21.7267,0.18158 21.4845,0 21.0607,0 z M 17.0666,24.7695 L 14.5246,24.7695 C 10.5304,24.7695 6.65742,21.8553 6.65742,14.5703 C 6.65742,6.98035 10.2882,3.88464 13.9796,3.88464 L 17.0666,3.88464 L 17.0666,24.7695 z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
	  opacity: 0.7;
    background-color: #ff0303;
}

.slogin-buttons .linkedinslogin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-120 -120 700.117 700.117'%3E%0A	%3Cpath fill='%23fff' d='M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707%0A		c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21%0A		v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824%0A		C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463%0A		c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z%0A		 M5.477,420.56h92.184v-277.32H5.477V420.56z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
	  opacity: 0.8;
    background-color: #0077B5;
}

.slogin-buttons .liveslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-4 -4 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M7.09 8.14v6.616L16 16V8.14H7.09zm-.268 0H0v5.63l6.822.95V8.14zm0-.266V1.28L0 2.238v5.637h6.822zm.267 0H16V0L7.09 1.244v6.63z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #0072C6;
}

.slogin-buttons .uloginslogin {
    background-image: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 24 24' fill='%23000'%3E%3Cpath fill='%23fff' d='M10 0c-3.2 0-5.8 2.6-5.8 5.8 0 2.1 1.1 3.9 2.8 5v9.1s.1.1.2.1h1.6c.1 0 .2-.1.2-.2v-3.5c0-.1.1-.2.2-.2h1.8c.1 0 .2.1.2.2v3.5c0 .1.1.2.2.2h1.6c.1 0 .2-.1.2-.2v-9.1c1.7-1 2.8-2.9 2.8-5-.2-3.1-2.8-5.7-6-5.7zm-1.9 6.5v-1.4c0-.1.1-.2.2-.2h.7s.1.1.1.2v1.4c0 .1-.1.2-.2.2h-.7c-.1 0-.1-.1-.1-.2zm3.7 1.8c-.4.5-1.1.9-1.8.9s-1.4-.3-1.8-.9c-.1-.2 0-.4.2-.3.5.2 1 .3 1.6.3.6 0 1.1-.1 1.6-.3.2-.1.3.1.2.3zm.1-1.8c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-1.4c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v1.4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
  	width: 49px !important;
  	height: 49px !important;
    background-color: #00a105;
}

.slogin-buttons .yahooslogin {
background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M9.005 16s-.56-.102-1.012-.102c-.406 0-1.015.102-1.015.102l.127-6.797C6.162 7.573 3.39 2.607 1.66 0c.87.198 1.236.186 2.11 0l.013.023c1.102 1.95 2.786 4.67 4.21 7.027C9.4 4.734 11.612 1.118 12.212 0c.68.178 1.367.172 2.127 0-.797 1.078-3.702 6.115-5.462 9.203L9.005 16z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
	  opacity: 0.8;
    background-color: #440099;
}

.slogin-buttons .wordpressslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.312 4.55c.56 1.024.88 2.2.88 3.45 0 2.653-1.438 4.97-3.576 6.217l2.197-6.352c.41-1.026.547-1.847.547-2.576 0-.266-.018-.512-.048-.74m-5.32.077c.432-.022.822-.068.822-.068.388-.047.342-.616-.045-.594 0 0-1.167.092-1.92.092-.705 0-1.893-.092-1.893-.092-.388-.022-.433.57-.046.593 0 0 .368.045.756.067l1.12 3.07-1.574 4.72-2.62-7.79c.434-.022.824-.068.824-.068.387-.047.342-.616-.046-.594 0 0-1.165.092-1.917.092-.135 0-.294-.004-.463-.01C3.276 2.1 5.487.81 8 .81c1.872 0 3.577.715 4.857 1.888-.03-.002-.06-.006-.093-.006-.707 0-1.208.615-1.208 1.276 0 .593.342 1.095.706 1.687.274.48.594 1.095.594 1.984 0 .615-.237 1.33-.548 2.325l-.717 2.397-2.6-7.733zM8 15.193c-.706 0-1.387-.104-2.032-.293l2.158-6.27 2.21 6.056c.016.035.033.068.052.1-.747.262-1.55.407-2.388.407M.807 8c0-1.043.224-2.033.623-2.927l3.43 9.4C2.463 13.307.808 10.847.808 8M8 0C3.59 0 0 3.59 0 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8' fill='%23ffffff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #474442;
}

.slogin-buttons .instagramslogin {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -2 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M14.154 16H1.846C.826 16 0 15.173 0 14.153V1.846C0 .826.826 0 1.846 0h12.308C15.174 0 16 .826 16 1.846v12.307c0 1.02-.826 1.847-1.846 1.847M8 4.923C6.3 4.923 4.923 6.3 4.923 8S6.3 11.077 8 11.077 11.077 9.7 11.077 8C11.077 6.3 9.7 4.923 8 4.923m6.154-2.462c0-.34-.275-.614-.616-.614h-1.846c-.34 0-.615.275-.615.615V4.31c0 .34.276.615.615.615h1.846c.34 0 .616-.276.616-.615V2.46zm0 4.31H12.76c.103.392.163.804.163 1.23 0 2.72-2.204 4.923-4.923 4.923-2.72 0-4.923-2.204-4.923-4.923 0-.426.06-.838.162-1.23H1.845v6.768c0 .34.275.615.616.615h11.076c.34 0 .616-.275.616-.615v-6.77z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: #125688;

}

.slogin-avatar{
    text-align: center;
}
.slogin-avatar img{
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px 0px 10px;
}

.slogin-buttons .twitterslogin:hover, .mailslogin:hover, .facebookslogin:hover, .vkontakteslogin:hover, .googleslogin:hover, .yandexslogin:hover, .linkedinslogin:hover, .liveslogin:hover, .uloginslogin:hover, .yahooslogin:hover, .wordpressslogin:hover, .instagramslogin:hover, .odnoklassnikislogin:hover {
    opacity: 1;
}

.jlslogin input.button {
    cursor: pointer;
}

.jlslogin input.button:hover {
    background: #53b5de;
}

.jlslogin fieldset {
    padding: 0;
    border: 0;
}
