div.slogin-clear{
    clear: both;
}
.slogin-buttons span {
    background: url(../../media/socials_sprite.png) no-repeat;
    height: 50px;
    width: 50px;
    display:block;
}
.slogin-buttons a, .slogin-buttons a:hover {
    border:1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
    float: left;
}
.slogin-buttons a {
    display: block;
    width: 49px;
    padding:5px 10px 5px 10px;
    margin:5px 5px 0 0;
}
.slogin-buttons a:hover {
    background:#f4f3f2;
}

.slogin-buttons .googleslogin {
    background-position: 0 -473px;
}

.slogin-buttons .odnoklassnikislogin {
    background-position: -51px -473px;
}
.slogin-buttons .vkontakteslogin {
    background-position: 0 -525px;
}
.slogin-buttons .facebookslogin {
    background-position: -51px -525px;
}
.slogin-buttons .mailslogin {
    background-position: 0 -577px;
}
.slogin-buttons .twitterslogin {
    background-position: -51px -577px;
}

.slogin-buttons .yandexslogin {
    background-position: 0px -629px;
}

.slogin-buttons .linkedinslogin {
    background-position: -51px -629px;
}

.slogin-buttons .liveslogin {
    background-position: -0px -681px;
}

.slogin-buttons .uloginslogin {
    background-position: -51px -681px;
}

.slogin-avatar{
    text-align: center;
}
.slogin-avatar img{
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}