<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="settings" 
			label="COM_SLOGIN_FIELDSET_CONFIG_LABEL"
			addfieldpath="administrator/components/com_slogin/models/fields"
			>
		<field
			name="user_name"
			type="list"
			label="COM_SLOGIN_FIELD_USER_NAME_LABEL"
			description="COM_SLOGIN_FIELD_USER_NAME_DESC"
			default="1"
			>
				<option value="1">COM_SLOGIN_FIRST_AND_LAST_NAME</option>
				<option value="0">COM_SLOGIN_FIRST_NAME</option>
				<option value="2">E-mail</option>
		</field>
		<field
			name="user_user_name"
			type="list"
			label="COM_SLOGIN_FIELD_USER_USER_NAME_LABEL"
			description="COM_SLOGIN_FIELD_USER_USER_NAME_DESC"
			default="1"
			>
				<option value="1">COM_SLOGIN_FIRST_LAST_NAME_PROVIDER</option>
				<option value="0">E-mail</option>
		</field>

		<field
			name="collate_users"
			type="radio"
			label="COM_SLOGIN_COLLATE_USERS"
			description="COM_SLOGIN_COLLATE_USERS_DESC"
			default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="query_email"
			type="radio"
			label="COM_SLOGIN_QUERY_EMAIL"
			description="COM_SLOGIN_QUERY_EMAIL_DESC"
			default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="enable_edit_reg_fields"
			type="radio"
			label="COM_SLOGIN_EDIT_REG_FIELDS"
			description="COM_SLOGIN_EDIT_REG_FIELDS_DESC"
			default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="local_debug"
			type="radio"
			label="COM_SLOGIN_DEBUG"
			description="COM_SLOGIN_DEBUG_DESC"
			default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>
	</fieldset>

    <fieldset name="redirects"
              label="COM_SLOGIN_FIELDSET_REDIRECTS_LABEL"
              description="COM_SLOGIN_FIELDSET_REDIRECTS_DESC"
            >
        <field
                name="after_reg_redirect"
                type="menuitem"
                disable="separator"
                label="COM_SLOGIN_AFTER_REGISTER_REDIRECT_LABEL"
                description="COM_SLOGIN_AFTER_REGISTER_REDIRECT_DESC" >
            <option
                    value="">JDEFAULT</option>
        </field>
        <field
                name="failure_redirect"
                type="menuitem"
                disable="separator"
                label="COM_SLOGIN_FAILURE_REDIRECT_LABEL"
                description="COM_SLOGIN_FAILURE_REDIRECT_DESC" >
            <option
                    value="">JDEFAULT</option>
        </field>
    </fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_slogin"
			section="component" />
	</fieldset>	
</config>
