<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="settings" 
			label="COM_SMLOGIN_FIELDSET_CONFIG_LABEL" 
			description="COM_SMLOGIN_FIELDSET_CONFIG_DESC"
			addfieldpath="administrator/components/com_smlogin/models/fields"
			>
		<field
			name="user_name"
			type="list"
			label="COM_SMLOGIN_FIELD_USER_NAME_LABEL"
			description="COM_SMLOGIN_FIELD_USER_NAME_DESC"
			default="1"
			>
				<option value="1">COM_SMLOGIN_FIRST_AND_LAST_NAME</option>
				<option value="0">COM_SMLOGIN_FIRST_NAME</option>
		</field>
		
				
		<field
			type="Spacer"
			label="COM_SMLOGIN_VKONTAKTE"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>							
		<field
			name="vk_client_id"
			type="text"
			label="COM_SMLOGIN_VK_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_VK_CLIENT_ID_DESC"
			filter="int"
			size="50"
		/>
		<field
			name="vk_client_secret"
			type="text"
			label="COM_SMLOGIN_VK_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_VK_CLIENT_SECRET_DESC"
			size="50"
		/>	
		<field
			name="vk_callback_url"
			type="callbackurl"
			label="COM_SMLOGIN_VK_CALLBACK_URL_LABEL"
			description="COM_SMLOGIN_VK_CALLBACK_URL_DESC"
			filter="unset"
			readonly="true"
			class="readonly"
		/>	
		
		<field
			type="Spacer"
			label="COM_SMLOGIN_GOOGLE"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>				
		<field
			name="google_client_id"
			type="text"
			label="COM_SMLOGIN_GOOGLE_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_GOOGLE_CLIENT_ID_DESC"
			size="50"
		/>	
		<field
			name="google_client_secret"
			type="text"
			label="COM_SMLOGIN_GOOGLE_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_GOOGLE_CLIENT_SECRET_DESC"
			size="50"
		/>
		<field
			name="google_callback_url"
			type="callbackurl"
			label="COM_SMLOGIN_GOOGLE_CALLBACK_URL_LABEL"
			description="COM_SMLOGIN_GOOGLE_CALLBACK_URL_DESC"
			filter="unset"
			readonly="true"
			task="google"
			class="readonly"
		/>	
		
		<field
			type="Spacer"
			label="COM_SMLOGIN_FACEBOOK"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>			
		<field
			name="fb_client_id"
			type="text"
			label="COM_SMLOGIN_FB_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_FB_CLIENT_ID_DESC"
			size="50"
		/>	
		<field
			name="fb_client_secret"
			type="text"
			label="COM_SMLOGIN_FB_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_FB_CLIENT_SECRET_DESC"
			size="50"
		/>	
		<field
			name="fb_callback_url"
			type="callbackurl"
			label="COM_SMLOGIN_FB_CALLBACK_URL_LABEL"
			description="COM_SMLOGIN_FB_CALLBACK_URL_DESC"
			filter="unset"
			readonly="true"
			class="readonly"
		/>	
		
		<field
			type="Spacer"
			label="COM_SMLOGIN_TWITTER"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>			
		<field
			name="tw_client_id"
			type="text"
			label="COM_SMLOGIN_TW_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_TW_CLIENT_ID_DESC"
			size="50"
		/>	
		<field
			name="tw_client_secret"
			type="text"
			label="COM_SMLOGIN_TW_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_TW_CLIENT_SECRET_DESC"
			size="50"
		/>	
		<field
			name="tw_callback_url"
			type="callbackurl"
			label="COM_SMLOGIN_TW_CALLBACK_URL_LABEL"
			description="COM_SMLOGIN_TW_CALLBACK_URL_DESC"
			filter="unset"
			readonly="true"
			task="tw"
			class="readonly"
		/>	
		
		<field
			type="Spacer"
			label="COM_SMLOGIN_ODNOKLASSNIKI"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>			
		<field
			name="odnoklassniki_client_id"
			type="text"
			label="COM_SMLOGIN_ODNOKLASSNIKI_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_ODNOKLASSNIKI_CLIENT_ID_DESC"
			size="50"
		/>	
		<field
			name="odnoklassniki_client_secret"
			type="text"
			label="COM_SMLOGIN_ODNOKLASSNIKI_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_ODNOKLASSNIKI_CLIENT_SECRET_DESC"
			size="50"
		/>	
		<field
			name="odnoklassniki_application_key"
			type="text"
			label="COM_SMLOGIN_ODNOKLASSNIKI_APPLICATION_KEY_LABEL"
			description="COM_SMLOGIN_ODNOKLASSNIKI_APPLICATION_KEY_DESC"
			size="50"
		/>							

		<field
			type="Spacer"
			label="COM_SMLOGIN_MAIL"
			filter="unset"
			class="red"
		/>
		<field
			type="Spacer"
			hr="true"
			filter="unset"
		/>			
		<field
			name="mail_client_id"
			type="text"
			label="COM_SMLOGIN_MAIL_CLIENT_ID_LABEL"
			description="COM_SMLOGIN_MAIL_CLIENT_ID_DESC"
			size="50"
		/>	
		<field
			name="mail_client_secret"
			type="text"
			label="COM_SMLOGIN_MAIL_CLIENT_SECRET_LABEL"
			description="COM_SMLOGIN_MAIL_CLIENT_SECRET_DESC"
			size="50"
		/>	
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_smlogin"
			section="component" />
	</fieldset>	
</config>
